*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;

}
body {
    min-height: 100vh;
}
ul{
    list-style-type: none;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
  }
