#jumbotron{
    height: 400px;
    background-image:url(../img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover
};
.blue-bar{
    height: 100px;
    background-color: #0282F9;
}